body {
	background: Aliceblue;
	font-size: 18pt;
}

body {font-family: 'Yanone Kaffeesatz', sans-serif;}

	p {
		font-size: 12pt
	}
	
	h10 {
	border: 1pt solid black;
	outline-style: solid;
	padding: 10pt;
	margin: 25pt;
	display: inline-block;
}

