body {
	background: Aliceblue;
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

h4 {
	font-size: 16pt;
}

h10 {
	border: 1pt solid black;
	outline-style: solid;
	padding: 10pt;
	margin: 25pt;
	display: inline-block;
}